<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/validate.css">
</head>

<body>
<div class="auth-wrapper">
  <div class="blur-bg-images"></div>
  <!-- [ change-password ] start -->
  <div class="auth-content">
    <div class="card">
      <div class="row align-items-center">
        <div class="col-md-12">
          <div class="card-body">
            <h4 class="mb-4 f-w-400">Change your password</h4>
            <% if(errorMessage) { %>
              <div class="form-group mb-3">
                <span class="field-validation-error"><%= errorMessage %></span>
              </div>
            <% } %>
            <form action="/new-password" method="post">
              <div class="form-group mb-3">
                <label class="floating-label" for="currentPassword">Current Password</label>
                <input type="password" class="form-control" id="currentPassword" placeholder="" name="currentPassword">
              </div>
              <div class="form-group mb-3">
                <label class="floating-label" for="newPassword">New Password</label>
                <input type="password" class="form-control" id="newPassword" placeholder="" name="newPassword">
              </div>
              <div class="form-group mb-4">
                <label class="floating-label" for="confirmNewPassword">Re-Type New Password</label>
                <input type="password" class="form-control" id="confirmNewPassword" placeholder=""
                       name="confirmNewPassword">
              </div>
              <input type="hidden" name="_csrf" value="<%= csrfToken %>">
              <input type="hidden" name="userId" value="<%= userId %>">
              <input type="hidden" name="resetToken" value="<%= passwordToken %>">
              <button class="btn btn-block btn-primary mb-4">Change password</button>
              </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- [ change-password ] end -->
</div>
<%- include('../includes/script.ejs') %>
<%- include('../includes/end.ejs') %>
