<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/validate.css">
<link rel="stylesheet" href="/css/plugins/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="/css/plugins/responsive.bootstrap4.min.css">
<link rel="stylesheet" href="/css/plugins/PNotifyBrightTheme.css">
<link rel="stylesheet" href="/css/plugins/select2.min.css">
<link rel="stylesheet" href="/css/plugins/daterangepicker.css">
<style>
  .table td, .table th {
    white-space: normal;
  }
</style>
</head>

<body>
<%- include('../includes/navigation.ejs') %>
<div class="pcoded-main-container">
  <div class="pcoded-content">
    <!-- [ breadcrumb ] start -->
    <div class="page-header">

      <div class="page-block">
        <div class="row align-items-center">
          <div class="col-md-12">
            <div class="page-header-title">
              <h5 class="m-b-10">Dept</h5>
            </div>
            <ul class="breadcrumb">
              <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
              <li class="breadcrumb-item"><a href="/dept">Dept</a></li>
              <li class="breadcrumb-item"><a href="#">Detail</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- [ breadcrumb ] end -->
    <!-- [ Main Content ] start -->
    <div class="row">
      <!-- HTML5 Export Buttons table start -->
      <div class="col-md-9">
        <div class="card">
          <div class="card-header">
            <h5 class="mb-2">Dept Information</h5>
            <p class="text-muted mb-0">More detail dept</p>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="source">Creditor</label>
                  <input type="text"
                         name="creditor"
                         id="creditor"
                         class="form-control"
                         value=" <%= dept.creditor %>"
                         disabled>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label for="date">Date Of Borrow</label>
                  <input type="text"
                         name="dateOfBorrow"
                         id="dateOfBorrow"
                         class="form-control"
                         value=" <%= dept.dateOfBorrow %>"
                         disabled
                         >
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label for="money">Money (VND)</label>
                  <input type="text"
                         class="form-control"
                         data-type="currency"
                         value=" <%= dept.money %>"
                         disabled>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label for="source">Lending Rate</label>
                  <input type="text"
                         name="lendingRate"
                         id="lendingRate"
                         class="form-control"
                         value=" <%= dept.lendingRate %>"
                         disabled>
                </div>
              </div>

              <div class="col-md-12">
                <div class="form-group">
                  <label for="desc">Description</label>
                  <input type="text"
                         name="desc"
                         id="desc"
                         class="form-control"
                         value=" <%= dept.desc %>"
                         disabled>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="source">Due Date</label>
                  <input type="text"
                         name="dueDate"
                         id="dueDate"
                         class="form-control"
                         value=" <%= dept.dueDate %>"
                         disabled>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group">
                  <label for="payment-method">Method </label>
                  <input type="text"
                         name="paymentMethod"
                         id="paymentMethod"
                         class="form-control"
                         value=" <%= dept.payment_method.desc %>"
                         disabled>
                </div>
              </div>

              <input type="hidden" name="dept-id" id="dept-id" value="<%= dept.id %>">
            </div>
          </div>

          <div class="card-header">
            <h5 class="mb-2">Payment History</h5>
            <div class="row">
              <div class="col-6">
                <p class="text-muted mb-0">List payments history for dept</p>
              </div>
              <div class="col-6 text-right">
                <a href="#" class="btn btn-success btn-sm btn-round has-ripple" id="create-payment"><i class="feather icon-plus"></i> Create new</a>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-12 mt-3">
                <div class="dt-responsive table-responsive">
                  <table id="single-select" class="table table-hover table-striped table-bordered nowrap">
                    <thead>
                    <tr>
                      <th>#</th>
                      <th>Note</th>
                      <th>Money</th>
                      <th>Date</th>
                      <th>Method</th>
                      <th>Updated At</th>
                      <th>Handle</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% deptsPaymentHistory.forEach(payment => {%>
                      <tr>
                        <td></td>
                        <td><%= payment.note %></td>
                        <td><%= new Intl.NumberFormat().format(payment.money) %></td>
                        <td><%= payment.date %></td>
                        <td><%= payment.payment_method.desc %></td>
                        <td><%= payment.updatedAt.toLocaleString('en-US') %></td>
                        <td>
                          <a href="#" class="btn-edit" data-id='<%= payment.id %>' title="Edit" >
                            <i class="icon feather icon-edit f-w-600 f-16 text-c-blue m-r-15"></i>
                          </a>
                          <a href="#" class="sweet-warning" data-id='<%= payment.id %>' title="Delete">
                            <i class="feather icon-trash-2 f-w-600 f-16 text-c-red"></i>
                          </a>
                        </td>
                      </tr>
                    <%})%>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="col-md-3">
        <div class="card latest-update-card">
          <div class="card-header">
            <h5>Status Dept</h5>
            <div class="card-header-right">
              <div class="btn-group card-option">
                <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="feather icon-more-horizontal"></i>
                </button>
                <ul class="list-unstyled card-option dropdown-menu dropdown-menu-right">
                  <li class="dropdown-item minimize-card"><a href="#!"><span><i class="feather icon-minus"></i> Đóng</span><span style="display:none"><i class="feather icon-plus"></i> Mở</span></a></li>
                  <li class="dropdown-item close-card"><a href="#!"><i class="feather icon-trash"></i> Xóa</a></li>
                </ul>
              </div>
            </div>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item py-0 px-1">
              <div class="table-responsive">
                <table class="table table-borderless mb-0">
                  <tbody>
                  <tr>
                    <td>
                      <span class="text-body font-weight-semibold">
                          Status Now:
                      </span>
                    </td>
                    <td class="text-right">
                      <% if(dept.isDone) {%>
                        <span class="badge badge-success">Done</span>
                      <%} else {%>
                        <span class="badge badge-danger">Dept</span>
                      <%}%>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </li>
          </ul>
          <div class="card-body py-2">
            <div class="table-responsive">
              <table class="table table-borderless mb-0 w-auto table-sm float-right text-right">
                <tbody>
                <tr>
                  <td>
                    <h6 class="m-0">Dept Total:</h6>
                  </td>
                  <td>
                    <%= new Intl.NumberFormat().format(dept.money) %> VND
                  </td>
                </tr>
                <tr>
                  <td>
                    <h6 class="m-0">Paid Total:</h6>
                  </td>
                  <td>
                    <%= new Intl.NumberFormat().format(totalMoneyPaid) %> VND
                  </td>
                </tr>
                <tr class="border-top">
                  <td>
                    <h5 class="m-0">Balance:</h5>
                  </td>
                  <td class="font-weight-semibold">
                    <%= new Intl.NumberFormat().format(dept.money - totalMoneyPaid) %> VND
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

    </div>
    <!-- [ Main Content ] end -->
  </div>
</div>

<div class="modal fade"
     id="modal-report"
     tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Payment</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="form-update" method="post" action>
          <div class="row">

            <div class="col-md-6">
              <div class="form-group">
                <label for="source"><span class="text-danger">*</span> Money</label>
                <input type="text"
                       name="money"
                       id="money"
                       class="form-control"
                       data-type="currency"
                       placeholder="Please enter money" required>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label for="date"><span class="text-danger">*</span> Date Of Payment</label>
                <input type="text"
                       name="date"
                       id="date"
                       class="form-control datePicker"
                       placeholder="Please enter date of payment" required>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label for="source"> Note</label>
                <input type="text"
                       name="note"
                       id="note"
                       class="form-control"
                       placeholder="Please enter note">
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label for="payment-method" class="mb-3"><span class="text-danger">*</span> Method </label>
                <select class="form-control" id="payment-method" name="paymentMethodId"
                        data-width="100%">
                  <option value="0" selected="selected">Please choose Method</option>
                </select>
              </div>
            </div>

            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <input type="hidden" name="paymentId" id="payment-id" value="">
            <div class="col-sm-12 text-right">
              <a href="#" class="btn btn-danger has-ripple text-white" data-dismiss="modal">Cancel</a>
              <button class="btn btn-success" type="submit" id="btn-submit">Create</button>
              <div class="spinner-border text-primary spinner-border text-primary spinner-border-sm mr-1"
                   role="status"
                   id="loading-btn"
                   style="display: none">
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<%- include('../includes/script.ejs') %>
<script src="/js/plugins/moment.min.js"></script>
<script src="/js/plugins/jquery.dataTables.min.js"></script>
<script src="/js/plugins/jquery.validate.min.js"></script>
<script src="/js/plugins/dataTables.bootstrap4.min.js"></script>
<script src="/js/plugins/dataTables.responsive.min.js"></script>
<script src="/js/plugins/PNotify.js"></script>
<script src="/js/plugins/PNotifyButtons.js"></script>
<script src="/js/plugins/sweetalert.min.js"></script>
<script src="//cdn.datatables.net/plug-ins/1.10.22/sorting/datetime-moment.js"></script>
<script src="/js/plugins/select2.full.min.js"></script>
<script src="/js/plugins/daterangepicker.js"></script>
<script src="/js/plugins/auto-numeric.min.js"></script>
<script>
  $(document).ready(function () {
    $.fn.dataTable.moment('M/D/YYYY, h:mm:ss A');
    let tableFinancial = $('#single-select')
      .DataTable({
        responsive: true,
        columnDefs: [ {
          searchable: false,
          orderable: false,
          targets: 0
        }, {
          type: 'datetime-moment',
          target: 4
        } ],
        order: [ [ 4, "desc" ] ]
      });

    setIndexTable(tableFinancial);

    $('.datePicker').daterangepicker({
      singleDatePicker: true,
      showDropdowns: true,
      minYear: 1990,
      locale: {
        format: 'YYYY/MM/DD'
      }
    });

    $('#payment-method').select2({
      dropdownParent: $('#modal-report'),
      ajax: {
        url: `/paymentmethod`,
        dataType: 'json',
        delay: 1000,
        data: function (params) {
          return {
            q: params.term, // search term
          };
        },
        processResults: function (res) {
          let results = [];
          if (res.data.length > 0) {
            res.data.forEach(function (i) {
              results.push({
                id: i.id,
                text: i.desc
              });
            });
          }
          return { results: results }
        },
        cache: true
      },
    });

    const inpMoney = new AutoNumeric('#money', { allowDecimalPadding: false });

    $('#create-payment').click(function (e) {
      e.preventDefault();
      const form = $('#form-update');
      resetForm(form);
      $('#modal-report').modal();
    })

    $('#form-update').submit(async function (e) {
      const spinLoading = $('#loading-btn');
      try {
        e.preventDefault();
        const form = $(this);
        spinLoading.css('display', 'inline-block');
        if (form.valid()) {
          const valuesArray = form.serializeArray();
          let dataFormObj = {};
          valuesArray.forEach(val => {
            const { name, value } = val;
            dataFormObj[name] = value;
          });
          dataFormObj.money = inpMoney.getNumericString();
          const deptId = $('#dept-id').val();
          dataFormObj.deptId = deptId;
          if (dataFormObj.paymentMethodId == 0) {
            throw new Error('Please choose Payment Method');
          }
          // Create New
          if (!dataFormObj.paymentId) {
            const result = await saveDeptPayment(dataFormObj);
            const objInvest = result.data;
            if (objInvest) {
              resetForm(form);
              const formatMoney = new Intl.NumberFormat().format(objInvest.money);
              let objShowColumn = {
                ...objInvest,
                money: formatMoney
              };
              const arrDept = Object.values(objShowColumn);
              arrDept[0] = '';
              arrDept.push(`<a href="#" class="btn-edit" data-id=${ objShowColumn.id }>
                          <i class="icon feather icon-edit f-w-600 f-16 m-r-15 text-c-blue"></i>
                        </a>
                        <a href="#" class="sweet-warning" data-id=${ objShowColumn.id }>
                          <i class="feather icon-trash-2 f-w-600 f-16 text-c-red"></i>
                        </a>`);
            }
          } else {
            await updateDeptPayment(dataFormObj);
          }
          history.go();
        } else {
          throw new Error('Please fill full input (*)');
        }
      } catch (e) {
        swal("Error!", e.message, 'error');
        spinLoading.css('display', 'none');
      }

    });

    $(document).delegate('a.btn-edit', 'click', async function (e) {
      e.preventDefault();
      const modal = $('#modal-report');
      const id = $(this)
        .data('id');
      const result = await getDeptPayment(id);
      const deptPayment = result.data;
      if (deptPayment) {
        const { id, note, money, date, payment_method } = deptPayment;
        modal.find('[name=id]')
             .val(id);
        modal.find('[name=note]')
             .val(note);
        modal.find('[name=date]')
             .val(date);
        modal.find('[name=paymentId]')
             .val(id);
        inpMoney.set(money);
        const methodId = payment_method.id;
        const methodOption = new Option(payment_method.desc, methodId, false, false);
        $('#payment-method')
          .append(methodOption)
          .val(methodId)
          .trigger('change');
        $('#btn-submit')
          .text('Update');
        modal.modal('show');
      }

    });

    $(document).delegate('.sweet-warning', 'click', async function (e) {
      e.preventDefault();
      const id = e.currentTarget.getAttribute('data-id');
      const willDelete = await swal({
        title: "Do you want to delete ?",
        icon: "warning",
        buttons: true,
        dangerMode: true,
      });
      if (willDelete) {
        const result = await deleteDeptPayment(id);
        if (result) {
          history.go();
        }
      }
    });

    function saveDeptPayment(dataForm) {
      return $.ajax({
        url: `/deptpayment`,
        method: 'POST',
        contentType: 'application/json',
        headers: {
          'csrf-token': dataForm._csrf
        },
        data: JSON.stringify(dataForm),
        success: function (res) {
          new PNotify.alert({
            title: 'Success !!!',
            text: `${ res.message }`,
            type: 'success'
          });
        },
        error: function (e) {
          new PNotify.alert({
            title: 'Failed !!!',
            text: `${ e.responseJSON.message }`,
            type: 'error'
          });
        },
        complete: function (e) {
          $('#loading-btn').css('display', 'none');
        }
      });
    }

    function updateDeptPayment(dataForm) {
      return $.ajax({
        url: `/deptpayment`,
        method: 'PUT',
        contentType: 'application/json',
        headers: {
          'csrf-token': dataForm._csrf
        },
        data: JSON.stringify(dataForm),
        success: function (res) {
          new PNotify.alert({
            title: 'Success !!!',
            text: `${ res.message }`,
            type: 'success'
          });
        },
        error: function (e) {
          new PNotify.alert({
            title: 'Failed !!!',
            text: `${ e.responseJSON.message }`,
            type: 'error'
          });
        },
        complete: function (e) {
          $('#loading-btn')
            .css('display', 'none');
        }
      });
    }

    function deleteDeptPayment(id) {
      const _csrf = $('input[name="_csrf"]')[0].value;
      return $.ajax({
        url: `/deptpayment`,
        method: 'DELETE',
        contentType: 'application/json',
        headers: {
          'csrf-token': _csrf
        },
        data: JSON.stringify({
          id
        }),
        success: function (res) {
          new PNotify.alert({
            title: 'Success !!!',
            text: `${ res.message }`,
            type: 'success'
          });
        },
        error: function (e) {
          new PNotify.alert({
            title: 'Failed !!!',
            text: `${ e.responseJSON.message }`,
            type: 'error'
          });
        },
        complete: function (e) {
          $('#loading-btn')
            .css('display', 'none');
        }
      });
    }

    function getDeptPayment(id) {
      return $.ajax({
        url: `/deptpayment/${ id }`,
        method: 'GET',
        error: function (e) {
          console.log(e);
          new PNotify.alert({
            title: 'Failed !!!',
            text: `${ e.responseJSON.message }`,
            type: 'error'
          });
        }
      });
    }

    function addRow(data) {
      return tableFinancial.row
                           .add(data)
                           .draw(false);
    }

    function setIndexTable(table) {
      table.on('order.dt search.dt', function () {
        table.column(0, { search: 'applied', order: 'applied' })
             .nodes()
             .each(function (cell, i) {
               cell.innerHTML = i + 1;
             });
      }).draw();
    }

    function resetForm(form) {
      form[0].reset();
      const dateNow = moment()
        .format('YYYY/MM/DD');
      $('#date')
        .val(dateNow);
      $('#payment-method')
        .val(0)
        .trigger('change');
      form.find('[name=paymentId]')
          .val('');
      $('#btn-submit')
        .text('Create');
    }

  });
</script>
<%- include('../includes/end.ejs') %>
