<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/validate.css">
<link rel="stylesheet" href="/css/plugins/dataTables.bootstrap4.min.css">
<link rel="stylesheet" href="/css/plugins/responsive.bootstrap4.min.css">
<link rel="stylesheet" href="/css/plugins/PNotifyBrightTheme.css">
<link rel="stylesheet" href="/css/plugins/select2.min.css">
<link rel="stylesheet" href="/css/plugins/daterangepicker.css">
<style>
  .table td, .table th {
    white-space: normal;
  }
</style>
</head>

<body>
<%- include('../includes/navigation.ejs') %>
<div class="pcoded-main-container">
  <div class="pcoded-content">
    <!-- [ breadcrumb ] start -->
    <div class="page-header">

      <div class="page-block">
        <div class="row align-items-center">
          <div class="col-md-12">
            <div class="page-header-title">
              <h5 class="m-b-10">Dept</h5>
            </div>
            <ul class="breadcrumb">
              <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
              <li class="breadcrumb-item"><a href="/dept">Dept</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- [ breadcrumb ] end -->
    <!-- [ Main Content ] start -->
    <div class="row">
      <!-- HTML5 Export Buttons table start -->
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header">
            <div class="row">
              <div class="col-sm-3">
                <h5>List Depts</h5>
              </div>
              <div class="col-sm-9 text-right">
                <button id="create-dept"
                        class="btn btn-success btn-sm btn-round has-ripple text-white">
                  <i class="feather icon-plus"></i> New
                </button>
              </div>
            </div>

          </div>
          <div class="card-body">
            <div class="dt-responsive table-responsive">
              <table id="single-select" class="table table-hover table-striped table-bordered w-100">
                <thead>
                <tr>
                  <th>#</th>
                  <th>Desc</th>
                  <th>Money (VND)</th>
                  <th>Creditor</th>
                  <th>Date Of Borrow</th>
                  <th>Due Date</th>
                  <th>Status</th>
                  <th>Payment</th>
                  <th>Updated At</th>
                  <th>Handle</th>
                </tr>
                </thead>
                <tbody>
                <% for ( let dept of lstDepts ) { %>
                  <tr>
                    <td></td>
                    <td><%= dept.desc %></td>
                    <td>
                      Amount: <%= new Intl.NumberFormat().format(dept.money) %>
                      <br>
                      Rate: <%= dept.lendingRate %>
                    </td>
                    <td><%= dept.creditor %></td>
                    <td><%= dept.dateOfBorrow %></td>
                    <td><%= dept.dueDate %></td>

                    <td>
                      <% if(dept.isDone) { %>
                        <span class="badge badge-success">Done</span>
                      <% } else { %>
                        <span class="badge badge-danger">Dept</span>
                      <% } %>
                    </td>
                    <td><%= dept.payment_method.desc %></td>
                    <td><%= dept.updatedAt.toLocaleString('en-US') %></td>
                    <td>
                      <a href="#" class="btn-edit" data-id='<%= dept.id %>' title="Edit" >
                        <i class="icon feather icon-edit f-w-600 f-16 text-c-blue"></i>
                      </a>
                      <a href="/dept/detail/<%= dept.id %>" class="btn-detail" title="Detail payment">
                        <i class="feather icon-credit-card f-w-600 f-16 text-c-green"></i>
                      </a>
                      <a href="#" class="sweet-warning" data-id='<%= dept.id %>' title="Delete">
                        <i class="feather icon-trash-2 f-w-600 f-16 text-c-red"></i>
                      </a>
                    </td>
                  </tr>
                <% } %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- [ Main Content ] end -->
  </div>
</div>

<div class="modal fade"
     id="modal-report"
     tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Dept</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="form-update" method="post" action>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="source"><span class="text-danger">*</span> Creditor</label>
                <input type="text"
                       name="creditor"
                       id="creditor"
                       class="form-control"
                       placeholder="Please enter creditor">
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label for="date"><span class="text-danger">*</span> Date Of Borrow</label>
                <input type="text"
                       name="dateOfBorrow"
                       id="dateOfBorrow"
                       class="form-control datePicker"
                       placeholder="Please enter date of borrow" required>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label for="money"><span class="text-danger">*</span> Money (VND)</label>
                <input type="text"
                       name="money"
                       id="money"
                       class="form-control"
                       data-type="currency"
                       placeholder="Please enter money" required>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label for="source"><span class="text-danger">*</span> Lending Rate</label>
                <input type="text"
                       name="lendingRate"
                       id="lendingRate"
                       class="form-control"
                       placeholder="Please enter lending rate">
              </div>
            </div>

            <div class="col-md-12">
              <div class="form-group">
                <label for="desc"><span class="text-danger">*</span> Description</label>
                <input type="text"
                       name="desc"
                       id="desc"
                       class="form-control"
                       placeholder="Please enter description" required>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label for="source"><span class="text-danger">*</span> Due Date</label>
                <input type="text"
                       name="dueDate"
                       id="dueDate"
                       class="form-control datePicker"
                       placeholder="Please enter Due Date">
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group">
                <label for="payment-method" class="mb-3"><span class="text-danger">*</span> Method </label>
                <select class="form-control" id="payment-method" name="paymentMethodId"
                        data-width="100%">
                  <option value="0" selected="selected">Please choose Method</option>
                </select>
              </div>
            </div>


            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <input type="hidden" name="id" value="">
            <div class="col-sm-12 text-right">
              <a href="#" class="btn btn-danger has-ripple text-white" data-dismiss="modal">Cancel</a>
              <button class="btn btn-success" type="submit" id="btn-submit">Create</button>
              <div class="spinner-border text-primary spinner-border text-primary spinner-border-sm mr-1"
                   role="status"
                   id="loading-btn"
                   style="display: none">
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<%- include('../includes/script.ejs') %>
<script src="/js/plugins/moment.min.js"></script>
<script src="/js/plugins/jquery.dataTables.min.js"></script>
<script src="/js/plugins/jquery.validate.min.js"></script>
<script src="/js/plugins/dataTables.bootstrap4.min.js"></script>
<script src="/js/plugins/dataTables.responsive.min.js"></script>
<script src="/js/plugins/PNotify.js"></script>
<script src="/js/plugins/PNotifyButtons.js"></script>
<script src="/js/plugins/sweetalert.min.js"></script>
<script src="http://cdn.datatables.net/plug-ins/1.10.22/sorting/datetime-moment.js"></script>
<script src="/js/plugins/select2.full.min.js"></script>
<script src="/js/plugins/daterangepicker.js"></script>
<script src="/js/plugins/auto-numeric.min.js"></script>
<script>
  $(document).ready(function () {
    $.fn.dataTable.moment('M/D/YYYY, h:mm:ss A');
    let tableFinancial = $('#single-select')
      .DataTable({
        responsive: true,
        columnDefs: [ {
          searchable: false,
          orderable: false,
          targets: 0
        }, {
          type: 'datetime-moment',
          target: 8
        } ],
        order: [ [ 8, "desc" ] ]
      });

    setIndexTable(tableFinancial);

    $('.datePicker').daterangepicker({
      singleDatePicker: true,
      showDropdowns: true,
      minYear: 1990,
      locale: {
        format: 'YYYY/MM/DD'
      }
    });

    $('#payment-method').select2({
      dropdownParent: $('#modal-report'),
      ajax: {
        url: `/paymentmethod`,
        dataType: 'json',
        delay: 1000,
        data: function (params) {
          return {
            q: params.term, // search term
          };
        },
        processResults: function (res) {
          let results = [];
          if (res.data.length > 0) {
            res.data.forEach(function (i) {
              results.push({
                id: i.id,
                text: i.desc
              });
            });
          }
          return { results: results }
        },
        cache: true
      },
    });

    const inpMoney = new AutoNumeric('#money', { allowDecimalPadding: false });

    $('#create-dept').click(function (e) {
      e.preventDefault();
      const form = $('#form-update');
      resetForm(form);
      $('#modal-report').modal();
    })

    $('#form-update').submit(async function (e) {
      const spinLoading = $('#loading-btn');
      try {
        e.preventDefault();
        const form = $(this);
        spinLoading.css('display', 'inline-block');
        if (form.valid()) {
          const valuesArray = form.serializeArray();
          let dataFormObj = {};
          valuesArray.forEach(val => {
            const { name, value } = val;
            dataFormObj[name] = value;
          });
          dataFormObj.money = inpMoney.getNumericString();
          if (dataFormObj.paymentMethodId == 0) {
            throw new Error('Please choose Payment Method');
          }
          // Create New
          if (!dataFormObj.id) {
            const result = await saveDept(dataFormObj);
            const objInvest = result.data;
            if (objInvest) {
              resetForm(form);
              const formatMoney = new Intl.NumberFormat().format(objInvest.money);
              const isDone = objInvest.isDone ? '<span class="badge badge-primary">Done</span>'
                : '<label class="badge badge-danger">Dept</label>'
              let objShowColumn = {
                ...objInvest,
                isDone,
                money: `Amount: ${ formatMoney } </br> Rate: ${ objInvest.lendingRate }`
              };
              delete objShowColumn.lendingRate;
              const arrDept = Object.values(objShowColumn);
              arrDept[0] = '';
              arrDept.push(`<a href="#" class="btn-edit" data-id=${ objShowColumn.id }>
                          <i class="icon feather icon-edit f-w-600 f-16 text-c-blue"></i>
                        </a>
                        <a href="/dept/detail/${ objShowColumn.id }" class="btn-detail" title="Detail payment">
                          <i class="feather icon-credit-card f-w-600 f-16 text-c-green"></i>
                        </a>
                        <a href="#" class="sweet-warning" data-id=${ objShowColumn.id }>
                          <i class="feather icon-trash-2 f-w-600 f-16 text-c-red"></i>
                        </a>`);
              await addRow(arrDept);
            }
          } else {
            await updateDept(dataFormObj);
            history.go();
          }
        } else {
          throw new Error('Please fill full input (*)');
        }
      } catch (e) {
        swal("Error!", e.message, 'error');
        spinLoading.css('display', 'none');
      }

    });

    $(document).delegate('a.btn-edit', 'click', async function (e) {
      e.preventDefault();
      const modal = $('#modal-report');
      const id = $(this)
        .data('id');
      const result = await getDept(id);
      const invest = result.data;
      if (invest) {
        const { id, creditor, desc, money, dateOfBorrow, lendingRate, dueDate, payment_method } = invest;
        modal.find('[name=id]')
             .val(id);
        modal.find('[name=creditor]')
             .val(creditor);
        modal.find('[name=desc]')
             .val(desc);
        modal.find('[name=dateOfBorrow]')
             .val(dateOfBorrow);
        modal.find('[name=lendingRate]')
             .val(lendingRate);
        inpMoney.set(money);
        modal.find('[name=dueDate]')
             .val(dueDate);
        const methodId = payment_method.id;
        const methodOption = new Option(payment_method.desc, methodId, false, false);
        $('#payment-method')
          .append(methodOption)
          .val(methodId)
          .trigger('change');
        $('#btn-submit')
          .text('Update');
        modal.modal('show');
      }

    });

    $(document).delegate('.sweet-warning', 'click', async function (e) {
      e.preventDefault();
      const id = e.currentTarget.getAttribute('data-id');
      const willDelete = await swal({
        title: "Do you want to delete ?",
        icon: "warning",
        buttons: true,
        dangerMode: true,
      });
      if (willDelete) {
        const result = await deleteDept(id);
        if (result) {
          tableFinancial.row($(this).parents('tr')).remove().draw(false);
        }
      }
    });

    function saveDept(dataForm) {
      return $.ajax({
        url: `/dept`,
        method: 'POST',
        contentType: 'application/json',
        headers: {
          'csrf-token': dataForm._csrf
        },
        data: JSON.stringify(dataForm),
        success: function (res) {
          new PNotify.alert({
            title: 'Success !!!',
            text: `${ res.message }`,
            type: 'success'
          });
        },
        error: function (e) {
          new PNotify.alert({
            title: 'Failed !!!',
            text: `${ e.responseJSON.message }`,
            type: 'error'
          });
        },
        complete: function (e) {
          $('#loading-btn').css('display', 'none');
        }
      });
    }

    function updateDept(dataForm) {
      return $.ajax({
        url: `/dept`,
        method: 'PUT',
        contentType: 'application/json',
        headers: {
          'csrf-token': dataForm._csrf
        },
        data: JSON.stringify(dataForm),
        success: function (res) {
          new PNotify.alert({
            title: 'Success !!!',
            text: `${ res.message }`,
            type: 'success'
          });
        },
        error: function (e) {
          new PNotify.alert({
            title: 'Failed !!!',
            text: `${ e.responseJSON.message }`,
            type: 'error'
          });
        },
        complete: function (e) {
          $('#loading-btn')
            .css('display', 'none');
        }
      });
    }

    function deleteDept(id) {
      const _csrf = $('input[name="_csrf"]')[0].value;
      return $.ajax({
        url: `/dept`,
        method: 'DELETE',
        contentType: 'application/json',
        headers: {
          'csrf-token': _csrf
        },
        data: JSON.stringify({
          id
        }),
        success: function (res) {
          new PNotify.alert({
            title: 'Success !!!',
            text: `${ res.message }`,
            type: 'success'
          });
        },
        error: function (e) {
          new PNotify.alert({
            title: 'Failed !!!',
            text: `${ e.responseJSON.message }`,
            type: 'error'
          });
        },
        complete: function (e) {
          $('#loading-btn')
            .css('display', 'none');
        }
      });
    }

    function getDept(id) {
      return $.ajax({
        url: `/dept/${ id }`,
        method: 'GET',
        error: function (e) {
          console.log(e);
          new PNotify.alert({
            title: 'Failed !!!',
            text: `${ e.responseJSON.message }`,
            type: 'error'
          });
        }
      });
    }

    function addRow(data) {
      return tableFinancial.row
                           .add(data)
                           .draw(false);
    }

    function setIndexTable(table) {
      table.on('order.dt search.dt', function () {
        table.column(0, { search: 'applied', order: 'applied' })
             .nodes()
             .each(function (cell, i) {
               cell.innerHTML = i + 1;
             });
      }).draw();
    }

    function resetForm(form) {
      form[0].reset();
      const dateNow = moment()
        .format('YYYY/MM/DD');
      $('#dateOfBorrow')
        .val(dateNow);
      $('#dueDate')
        .val(dateNow);
      $('#payment-method')
        .val(0)
        .trigger('change');
      form.find('[name=id]')
          .val('');
      $('#btn-submit')
        .text('Create');
    }

  });
</script>
<%- include('../includes/end.ejs') %>
